@charset "UTF-8";
/*
BEM methodology + 7-1 architecture
Based by article: https://levelup.gitconnected.com/advance-your-css-with-sass-bem-7-1-architecture-13898751976

Sass/
|
|– abstracts/   (and also called here and there "utils")
|   |– _variables.scss    # Sass Variables
|   |– _mixins.scss       # Sass Mixins
|   |– _functions.scss    # Sass Functions
|
|– vendors/
|   |– _icons.scss        # Font-Awesome Icons
|
|– base/
|   |– _reset.scss        # Reset
|   |– _typography.scss   # Typography rules
|   |– _animations.scss   # Animation rules
|   |– _utilities.scss    # Utility rules
|
|– layout/
|   |– _navigation.scss   # Navigation
|   |– _header.scss       # Header
|   |– _footer.scss       # Footer
|
|– components/
|   |– _buttons.scss      # Buttons
|   |– _card.scss         # Card
|   |– _form.scss         # Form
|
|– pages/
|   |– _home.scss         # Home page style
|   |– _contact.scss      # Contact page style
|   |– _about.scss        # About page style
|
|– themes/
|   |– _pink.scss         # Pink theme
|   |– _mint.scss         # Mint theme
|
 – main.scss              # Main Sass input file

*/
/* abstracts */
/* vendors */
.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  text-decoration: none;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn__tight {
  padding-top: 7px;
  padding-bottom: 7px;
}

.btn:focus {
  color: #ffffff;
}

.btn--vote {
  padding: 12px 20px;
  min-width: 122px;
}

.btn--smaller {
  padding: auto;
}

.btn-danger {
  background-color: #D4213D;
  border-color: #D4213D;
}

.btn-primary {
  background-color: #D4213D;
  border-color: #D4213D;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #b31c33 !important;
  border-color: #b31c33 !important;
  box-shadow: none;
}

.btn-secondary {
  background-color: #4b4b5b;
  border-color: #4b4b5b;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: #fff;
  background-color: #3a3a46 !important;
  border-color: #3a3a46 !important;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.bg-primary {
  background-color: transparent !important;
  position: relative;
}

.bg-primary::after, .bg-primary::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-primary::before {
  z-index: -2;
  background-image: url("../img/bg-primary.jpg");
  background-repeat: repeat;
}

.bg-primary::after {
  z-index: -1;
  background-color: #fff;
  opacity: 0.9;
}

/* base */
body {
  font-size: 18px;
  color: #212529;
  font-family: 'Lora', 'Times New Roman', serif;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #212529;
  transition: all 0.2s;
}

a:focus, a:hover {
  color: #D4213D;
}

blockquote {
  font-style: italic;
  color: #868e96;
}

.section-space {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: #fff;
  background: #D4213D;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #D4213D;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

.small, small {
  font-size: 75%;
  opacity: 0.7;
}

.color-primary {
  color: #D4213D;
}

/* layout */
#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 992px) {
  #mainNav {
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;
    transition: transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #D4213D;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #D4213D;
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    transform: translate3d(0, 100%, 0);
  }
}

header.header__masthead {
  position: relative;
  min-height: 58px;
}

header.header__masthead--frontpage {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/front-page-bg2.svg");
  background-size: contain;
  background-attachment: scroll;
  margin-bottom: 50px;
}

header.header__masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

header.header__masthead .overlay.bg1 {
  background-color: #4b4b5b;
  z-index: -1;
  opacity: 0.9;
}

header.header__masthead .overlay.bg2 {
  background-image: url("../img/folk-bg.jpg");
  background-repeat: repeat;
  z-index: -2;
}

header.header__masthead .page-heading,
header.header__masthead .post-heading,
header.header__masthead .site-heading {
  padding: 200px 0 150px;
}

@media only screen and (min-width: 768px) {
  header.header__masthead .page-heading,
  header.header__masthead .post-heading,
  header.header__masthead .site-heading {
    padding: 200px 0;
  }
}

header.header__masthead .page-heading,
header.header__masthead .site-heading {
  text-align: center;
}

header.header__masthead .page-heading h1,
header.header__masthead .site-heading h1 {
  font-size: 46px;
  margin-top: 0;
  color: #D4213D;
  text-shadow: 1px 1px 1px #4b4b5b;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 700;
}

header.header__masthead .page-heading .subheading,
header.header__masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  color: #4b4b5b;
  font-weight: bold;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.header__masthead .post-heading h1 {
  font-size: 35px;
}

header.header__masthead .post-heading .meta,
header.header__masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.header__masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.header__masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Lora', 'Times New Roman', serif;
}

header.header__masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.header__masthead .post-heading h1 {
    font-size: 55px;
  }
  header.header__masthead .post-heading .subheading {
    font-size: 30px;
  }
}

footer {
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.sidebar__card {
  background: #E9E8E7;
  margin-bottom: 40px;
}

.sidebar__card__header {
  background-image: url("../img/folk-bg.jpg");
  background-repeat: repeat;
  z-index: 0;
  position: relative;
  color: #f8f9fa;
  background-position: right center;
  border: none;
}

.sidebar__card__header::after {
  content: "";
  background-color: #4b4b5b;
  z-index: -1;
  opacity: .9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sidebar__card--letters .card-body .col {
  padding: 15px;
}

.sidebar__card--letters .card-body .col a {
  font-size: 28px;
  font-weight: 600;
}

/* components */
.ui-menu {
  z-index: 1050;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

* html .ui-autocomplete {
  height: 200px;
}

#rgm-map {
  width: 100%;
  height: 800px;
}

#rgm-map .info {
  width: 220px;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#rgm-map .info h4 {
  margin: 0 0 5px;
  color: #777;
}

#rgm-map .legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

#rgm-map .legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.accordion-section .panel-default > .panel-heading {
  border: 0;
  background: #f4f4f4;
  padding: 0;
}

.accordion-section .panel-default .panel-title a {
  display: block;
  font-style: italic;
  font-size: 1.5rem;
}

.accordion-section .panel-default .panel-title a:after {
  font-style: normal;
  color: #1f7de2;
  float: right;
  transform: rotate(90deg);
}

.accordion-section .panel-default .panel-title a.arrow:after {
  color: #D4213D;
  content: "\276F";
}

.accordion-section .panel-default .panel-body {
  font-size: 1.2rem;
}

.pagination-container {
  padding-top: 60px;
}

.pagination-container .pagination {
  justify-content: center;
}

.pagination-container .pagination .page-item.active .page-link {
  background-color: #D4213D;
  border-color: #D4213D;
  color: #fff;
}

.pagination-container .pagination .page-item .page-link {
  color: #4b4b5b;
}

.pagination-container .pagination .page-item .page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(200, 35, 51, 0.5);
}

/* pages */
.frontpage-search-section input[type=submit], .frontpage-search-section input[type=button] {
  padding-top: 7px;
  padding-bottom: 8px;
  border-radius: 0 5px 5px 0;
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dee2e6;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  font-family: 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
  color: #868e96;
  font-family: 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group .help-block {
  margin: 15px 0;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #D4213D;
}

form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid #dee2e6;
}

/* themes */
