.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-style: normal;
    // font-size: 3rem;
    color: #1f7de2;
    float: right;
    // margin-top: -12px;
    transform: rotate(90deg);
}
.accordion-section .panel-default .panel-title a.arrow:after {
    color: $themeColor1;
    content: "\276F";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}