.frontpage-search-section {
    &__input-search-dictionary{
        padding: 12px 26px;
        
    }
    input[type=submit], input[type=button] {
        // padding: 8px 26px;
        padding-top: 7px;
        padding-bottom: 8px;
        border-radius: 0 5px 5px 0;
    }
}