.single-section {
    &__data {
        table {
            tbody {
                tr {
                    th {
                        font-weight: normal;
                        width: 25%;
                    }
                }
            }
        }
    }
    &__usage-examples {
        &__bg-container {
            min-height: 360px;
            background-image: url('../img/usage-examples.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
