.sidebar {
    // border-left: 1px #eee solid;
    // background: #eee;

    &__card {
        background: #eee;
        margin-bottom: 40px;
        &__header {
            background: #5c5c6b;
            color: white;
        }
    }
}