.sidebar {
    // border-left: 1px #eee solid;
    // background: #eee;

    &__card {
        background: $themeColor2;
        margin-bottom: 40px;
        &__header {
            &::after {
                content: "";
                background-color: #4b4b5b;
                z-index: -1;
                opacity: .9;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
            }
            @include background-folk;
            z-index: 0;
            position: relative;
            color: $themeColor2;
            background-position: right center;
            border: none;
        }
    }
}