.ui-menu {
    z-index: 1050;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
* html .ui-autocomplete {
    height: 200px;
}

input[type='radio']{
    &:after, &:checked:after {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        top: -4px;
        left: -1px;
        position: relative;
        content: '';
        display: inline-block;
        visibility: visible;
    }
    &:after {
        background-color: $gray-300;
        border: 2px solid $white;
    }
    &:checked:after {
        background-color: $themeColor1;
        border: 2px solid $white;
    }
    
}
