.pagination-container {
    padding-top: 60px;
    .pagination {
        justify-content: center;
        .page-item {
            &.active {
                .page-link {
                    background-color: $themeColor1;
                    border-color: $themeColor1;
                    color: $white;
                }
            }
            .page-link {
                color: $themeColor3;
                &:focus {
                    box-shadow: 0 0 0 0.2rem $themeColor1-transparent;
                }
            }
        }
    }
}